### **Anime Analytics**

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import mysql.connector

**Conexión a la base de datos**

In [10]:
try:
    connection = mysql.connector.connect(
        host='localhost',
        user='root',
        password='saito17Jr',
        database='anime'
    )

    if connection.is_connected():
        db_info = connection.server_info
        print(f'Conexión exitosa a MySQL versión {db_info}')

        cursor = connection.cursor()

        query_animes = """SELECT * FROM animes"""
        cursor.execute(query_animes)
        data_animes = cursor.fetchall()
        column_names_animes = [i[0] for i in cursor.description]
        df_animes = pd.DataFrame(data_animes, columns=column_names_animes)
        print(f'DataFrame -> Animes:\n{df_animes.head(3)}')

        query_generos = """SELECT * FROM generos"""
        cursor.execute(query_generos)
        data_generos = cursor.fetchall()
        column_names_generos = [i[0] for i in cursor.description]
        df_generos = pd.DataFrame(data_generos, columns=column_names_generos)
        print(f'DataFrame -> Generos:\n{df_generos.head(3)}')

        query_estudios = """SELECT * FROM estudios"""
        cursor.execute(query_estudios)
        data_estudios = cursor.fetchall()
        column_names_estudios = [i[0]for i in cursor.description]
        df_estudios = pd.DataFrame(data_estudios, columns=column_names_estudios)
        print(f'DataFrame -> Estudio:\n{df_estudios.head(3)}')

        query_popularidad = """SELECT * FROM popularidad"""
        cursor.execute(query_popularidad)
        data_popularidad = cursor.fetchall()
        column_names_popularidad = [i[0]for i in cursor.description]
        df_popularidad = pd.DataFrame(data_popularidad, columns=column_names_popularidad)
        print(f'DataFrame -> Popularidad:\n{df_popularidad.head(3)}')

        query_anime_generos = """SELECT * FROM anime_generos"""
        cursor.execute(query_anime_generos)
        data_anime_generos = cursor.fetchall()
        column_names_anime_generos = [i[0]for i in cursor.description]
        df_anime_generos = pd.DataFrame(data_anime_generos, columns=column_names_anime_generos)
        print(f'DataFrame -> Anime_Generos:\n{df_anime_generos.head(3)}')

        query_anime_estudio = """SELECT * FROM anime_estudios"""
        cursor.execute(query_anime_estudio)
        data_anime_estudios = cursor.fetchall()
        column_names_anime_estudios = [i[0]for i in cursor.description]
        df_anime_estudios = pd.DataFrame(data_anime_estudios, columns=column_names_anime_estudios)
        print(f'DataFrame -> Animne_Estudios:\n{df_anime_estudios.head(3)}')
        

except mysql.connector.Error as e:
    print(f'Error al conectar a MySQL {e}')
finally:
    if connection is not None and connection.is_connected():
        connection.close()
        print(f'\nConexión cerrada')

Conexión exitosa a MySQL versión 8.0.44
DataFrame -> Animes:
   mal_id                           titulo   tipo  episodios  annio temporada  \
0       1                     Cowboy Bebop     TV         26   1998    spring
1       5  Cowboy Bebop: Tengoku no Tobira  Movie          1      0       N/A
2       6                           Trigun     TV         26   1998    spring

                    clasificacion       duracion  \
0  R - 17+ (violence & profanity)  24 min per ep
1  R - 17+ (violence & profanity)    1 hr 55 min
2       PG-13 - Teens 13 or older  24 min per ep

                                            sinopsis  anime_rank
0  Crime is timeless. By the year 2071, humanity ...          48
1  Another day, another bounty—such is the life o...         232
2  Vash the Stampede is the man with a $$60,000,0...         386
DataFrame -> Generos:
   genero_id nombre_genero
0          1        Action
1         50    Adult Cast
2          2     Adventure
DataFrame -> Estudio:
   estudio_id   nombre_estudio  favoritos establecido
0           1   Studio Pierrot       5887  1979-05-01
1           2  Kyoto Animation      36349  1985-07-12
2           3            Gonzo        826  2000-02-29
DataFrame -> Popularidad:
   mal_id  score  scored_by  miembros  favoritos  popularidad
0       1   8.75    1040131   2014470      88177           42
1       5   8.38     228598    404644       1750          650
2       6   8.22     394831    817542      17256          265
DataFrame -> Anime_Generos:
   mal_id  genero_id
0       1          1
1       5          1
2       6          1
DataFrame -> Animne_Estudios:
   mal_id  estudio_id
0      20           1
1     104           1
2     123           1

Conexión cerrada